
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.meets-container{
    
    height:100%;
    width:100%; 
    padding: 5%;
    display: inline-block;
}

.meet-header{

    display:flex;
    justify-content: space-between;

}
.meet-header button{

    
    margin-left:20%;
    border:none;
    background-color: #1061EF;
    color:#fff;
    border-radius:30px;
    width:200px;
}

@media (max-width:628px){
    .meets-container{
        padding:0;
    }
}
