*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.rooms-container{
    width:100%; 
    padding: 5%;
    display: inline-block;
    height: 100%;
    
}

.table-container{

  margin: 5%;
  

}
.table-head{
  display: flex;
  margin:3% 0;

}

.table-container .table-head button{

  margin-left: 10%;
  padding : 10px 15px;
  background-color: #1061EF;
  border-radius: 30px;
  width:200px;
  color:#fff;
  border:none;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    max-height: 200px;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  .button-actions{

    cursor:pointer
  }
  @media screen and (max-width: 600px) {

    .rooms-container{

      padding:0;
    }

    .table-container{
      max-height: 95vh;
      overflow-y: auto; 
      margin:1%;
    }
    .table-container .table-head button{

      padding:0;
    }
  
    table {
      border: 0;
      
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      display:block;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  